/* CSS Document */

body {
	background-color: #b0b0b0;
	background-image:url(../images/pecl_body_bg.jpg);
	background-repeat:repeat-x;
	margin:0px;
}
user agent stylesheetbody {
display: block;
margin: 8px;
}
	#resizable { width: 150px; height: 150px; padding: 0.5em; }
	#resizable h3 { text-align: center; margin: 0; }
  
  .gallery-container{position:fixed; top:5%; left:10%; width:75%; margin: auto 0 ; border:5px solid #1f3b6d; background-image: url(../img/bg-footer.png); border-radius:10px;padding:10px;}
  .image{
   height:150px;
   width:200px;
  }
  
 
  
 
  
  #side_panel{
  background: #4c6fad; 
  min-height: 700px; 
  width: 260px; 
  float: left; 
  color: #ffffff;
  padding:10px;  
  }
  
  #imgs{
  min-height: 600px;
  width: 80%;  
  float: left;
  
 
  }
  
  .img_garbage{
    
	background-color: grey;
	width: 19%;
	float: right;
	
	
}
  
  .img_wrapper{
 
  }
  
  #side_panel a:link, #side_panel a:hover, #side_panel a:visited{
  color: #ffffff; 
  } 
  
  #bg{
  width: 100%; 
  height: 100%; 
  }
  
  .gallery_header{background:#f7c71f; height:60px; margin-bottom:10px;}
  
  .gallery_header img
  {
  float: left;
  width:120px;  
  }
  
  .gallery_header h2
  {
  color: #000000; 
  margin:  5px 0px 5px 130px; 
  padding: 15px 5px; 
  }
  
  .clear{clear:both; }
  
  .instructions{
  font-style: italic; 
  font-size: 14px; 
  }
  
  .gallery_table{
  width: 100%; 
  padding: 0; 
  margin: 0; 
  vertical-align: top;
  }
  
  .gallery_table td{
  vertical-align: top; 
  }
  
  .panel_cell
  {
  width: 300px; 
  }
  
  .ui-wrapper
  {
   
  }
  
  .zoom img
  {
    height: 150px;  
  }
  

