<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="MIW" path="Mwimain.dll" verb="*" modules="IsapiModule" scriptProcessor="C:\inetpub\wwwroot\pec\scripts\MWIMain.dll" resourceType="File" preCondition="bitness32" />
        </handlers>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
    </system.webServer>
</configuration>
